<div class="container my-5" id="navbar-prix">


    <!--Section: Content-->
    <section class="text-center dark-grey-text">
  
      <!-- Section heading -->
      <h3 class="font-weight-bold pb-2 mb-4">Tarifs</h3>
      <!-- Section description -->
      <p class="text-muted w-responsive mx-auto mb-5">Utiliser scriptX, c’est tout simple ! <br>
      Vous vous inscrivez sur notre site, et vous vous abonnez grâce à notre solution de paiement sécurisée Stripe.<br>
      Au moment de votre inscription, une empreinte bancaire de 0.01€ est effectuée de manière sécurisée, sans débit de votre compte. Vous pouvez tester scriptX gratuitement, pour une durée d’enregistrement audio allant jusqu’à 1 heure, comme vous le souhaitez. Les prélèvements commencent à compter du deuxième mois, sauf en cas de résiliation. <br>
      Ensuite, l’abonnement est mensuel. Le montant est réglé le 1er jour du mois.
      Vous pouvez changer de formule d’abonnement à tout moment, en fonction de vos besoins.
      En cas de besoins ponctuels, vous pouvez acheter du "crédit" scriptX à tout moment, en cours de mois (voir rubrique "Sur-mesure"). <br>
      </p>
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-4">
  
          <!-- Card -->
          <div class="card">
  
            <!-- Content -->
            <div class="card-body">
  
              <!-- Offer -->
              <h5 class="mb-4">Formule MINI <br>
              2 heures</h5>
              <div class="d-flex justify-content-center">
                <div class="card-circle d-flex justify-content-center align-items-center">
                  <i class="fas fa-bone blue-text"></i>
                </div>
              </div>
  
              <!--Price -->
              <h2 class="font-weight-bold my-4">5€ TTC par mois</h2>
              <p class="grey-text">Jusqu’à 2 heures d’enregistrement audio traitées par scriptX</p>
              <a class="btn btn-blue btn-rounded">Je choisis <strong>MINI</strong></a>
  
            </div>
            <!-- Content -->
  
          </div>
          <!-- Card -->
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
  
          <!-- Card -->
          <div class="card blue">
  
            <!-- Content -->
            <div class="card-body white-text">
  
              <!-- Offer -->
              <h5 class="mb-4">Formule MAXI <br>
              5 heures</h5>
              <div class="d-flex justify-content-center">
                <div class="card-circle d-flex justify-content-center align-items-center">
                  <i class="fas fa-bread-slice"></i>
                </div>
              </div>
  
              <!--Price -->
              <h2 class="font-weight-bold my-4">10€ TTC par mois</h2>
              <p>Jusqu’à 5 heures d’enregistrement audio traitées par scriptX</p>
              <a class="btn btn-outline-white btn-rounded">Je choisis <strong>MAXI</strong></a>
  
            </div>
            <!-- Content -->
  
          </div>
          <!-- Card -->
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
  
          <!-- Card -->
          <div class="card">
  
            <!-- Content -->
            <div class="card-body">
  
              <!-- Offer -->
              <h5 class="mb-4">Formule BIG <br>
              12 heures</h5>
              <div class="d-flex justify-content-center">
                <div class="card-circle d-flex justify-content-center align-items-center">
                  <i class="fas fa-hamburger blue-text"></i>
                </div>
              </div>
  
              <!--Price -->
              <h2 class="font-weight-bold my-4">20€ TTC par mois</h2>
              <p class="grey-text">Jusqu’à 12 heures d’enregistrement audio traitées par scriptX</p>
              <a class="btn btn-blue btn-rounded">Je choisis <strong>BIG</strong></a>
  
            </div>
            <!-- Content -->
  
          </div>
          <!-- Card -->
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </section>
    <!--Section: Content-->




    <div class="container my-5 py-5 z-depth-1">
        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 dark-grey-text text-center">
         <h3 class="text-center font-weight-bold mb-4 pb-2">Solutions sur-mesure</h3>
         <p class="text-center text-muted w-responsive mx-auto mb-5">Personnalisez votre abonnement en fonction de vos besoins</p>
 
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
    
            <!--Grid column-->
            <div class="col-lg-8">
    
              <!--Grid row-->
<!--               <div class="row"> -->

              <h5 class="font-weight-bold mb-3">Recharges-temps</h5>
              <span><i class="fas fa-history fa-2x blue-text"></i></span><br>
              <p>Nous ne cherchons pas à vous faire rentrer dans des cases !
              Bien sûr, votre activité varie de façon saisonnière, et votre abonnement doit s’adapter à vos besoins.
              Nous vous proposons des extensions, sous forme de "recharges-temps" que vous pouvez acheter en ligne, sous forme d’heures indivisibles. <br>
              Le tarif de chaque heure additionnelle est de 3€ TTC.
              </p>
              <br>
              <br>

              <h5 class="font-weight-bold mb-3">Module de traduction </h5>
              <span><i class="fas fa-cogs fa-2x blue-text"></i></span><br>
              <p>Dans le cadre de votre activité, vous pouvez être en contact avec des personnes ne parlant pas notre langue.
              La technologie de ScriptX permet également de transcrire un enregistrement audio depuis une dizaine de langues étrangères vers le français. 
              Nous vous proposerons un tarif adapté, en fonction de vos besoins (langue et durée).
              </p> 
              <br>
   
                <!--First column-->
<!--                 <div class="col-md-3 col-6 mb-4">
                  <i class="fas fa-gem fa-3x blue-text"></i>
                </div> -->
                <!--/First column-->
    
                <!--Second column-->
<!--                 <div class="col-md-3 col-6 mb-4">
                  <i class="fas fa-chart-area fa-3x teal-text"></i>
                </div> -->
                <!--/Second column-->
    
                <!--Third column-->
<!--                 <div class="col-md-3 col-6 mb-4">
                  <i class="fas fa-cogs fa-3x indigo-text"></i>
                </div> -->
                <!--/Third column-->
    
                <!--Fourth column-->
<!--                 <div class="col-md-3 col-6 mb-4">
                  <i class="fas fa-cloud-upload-alt fa-3x deep-purple-text"></i>
                </div> -->
                <!--/Fourth column-->

<!--               </div> -->
              <!--/Grid row-->
   
            </div>
            <!--Grid column-->
    
          </div>
          <!--Grid row-->
    
    
        </section>
        <!--Section: Content-->
    
    
      </div>
  
  
  </div>