<div class="container pt-5 my-5 z-depth-1" id ="navbar-activites">

  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 dark-grey-text text-center">
    <h3 class="text-center font-weight-bold mb-4 pb-2">Activités</h3>

    <p class="text-center text-muted w-responsive mx-auto mb-5">A partir d’une source audio, captée par un téléphone portable, un dictaphone ou le micro d’un ordinateur portable, ScriptX génère un fichier .txt que vous pouvez exploiter selon vos besoins. 
    Le texte pourra être retravaillé et remis en forme dans un logiciel de traitement de texte, envoyé en pièce jointe d’un mail, inséré dans un rapport, copié/collé dans un sms, etc. Les possibilités sont infinies, et vont simplement révolutionner votre quotidien !
    </p>
  </section>



    <section class="p-md-3 mx-md-5">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5">
          <h4 class="font-weight-bold dark-grey-text mb-3">
            <i class="fas fa-school blue-text pr-2"></i>Education
          </h4>
          <p class="text-muted">
            Vous êtes enseignant ou formateur ? Vous travaillez avec des enfants, des adolescents ou des adultes ? Vous avez besoin de retranscrire une source vocale (entretien, discours, extrait de film…)  en un fichier texte facilement exploitable ? ScriptX est l’outil indispensable au quotidien. 
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h4 class="font-weight-bold dark-grey-text mb-3">
            <i class="fas fa-tty green-text pr-2"></i>Médias
          </h4>
          <p class="text-muted">
            Vous êtes journaliste de terrain et vous ne voulez plus perdre de temps à retranscrire à la main vos interviews ? Vous voulez aussi garder une trace de vos entretiens téléphoniques ? ScriptX générera le fichier texte que vous pourrez transmettre ou retravailler avant de le publier. 
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h4 class="font-weight-bold dark-grey-text mb-3">
            <i class="fas fa-laptop-medical amber-text pr-2"></i>Santé
          </h4>
          <p class="text-muted">
            Vous exercez une profession médicale ou para-médicale ? Vous réalisez des comptes-rendus d’examens ou des entretiens avec vos patients ? Le fichier texte créé par ScriptX pourra être enregistré directement dans le dossier médical ou transmis à votre secrétariat, qui n’aura plus qu’à le remettre en forme pour éditer le compte-rendu. 
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h4 class="font-weight-bold dark-grey-text mb-3">
            <i class="fas fa-rocket red-text pr-2"></i>Secteur 4
          </h4>
          <p class="text-muted">
            Identifier un 4e secteur porteur et rédiger les avantages-client.
          </p>
        </div>
        <!-- <div class="col-lg-3 col-md-6 mb-5">
          <h4 class="font-weight-bold mb-3">
            <i class="fas fa-home lime-text pr-2"></i> Feature 5
          </h4>
          <p class="text-muted mb-lg-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h4 class="font-weight-bold mb-3">
            <i class="fas fa-book-open blue-text pr-2"></i> Feature 6
          </h4>
          <p class="text-muted mb-lg-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h4 class="font-weight-bold mb-3">
            <i class="fas fa-book pink-text pr-2"></i> Feature 7
          </h4>
          <p class="text-muted mb-md-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h4 class="font-weight-bold mb-3">
            <i class="fas fa-paper-plane purple-text pr-2"></i> Feature 8
          </h4>
          <p class="text-muted mb-md-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p> -->
        </div>
      </div>
    </section>
  </div>