<div class="container my-5">


    <!--Section: Content-->
    <section>
  
      <h6 class="font-weight-normal text-uppercase font-small grey-text mb-4 text-center">FAQ</h6>
      <!-- Section heading -->
      <h3 class="font-weight-bold black-text mb-4 pb-2 text-center">Questions régulièrement posées</h3>
      <hr class="w-header">
      <!-- Section description -->
      <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center">Vous avez une question ? Nous avons la réponse. <br>
      Pour toute autre sujet, n'hésitez pas à interroger notre service client à l'aide du formulaire de contact ci-dessous.</p>
  
      <div class="row text-center text-md-left">
        <div class="col-md-6 mb-4">
          <h5 class="font-weight-normal mb-3">Quels sont les moyens de paiement acceptés ?</h5>
          <p class="text-muted">Notre partenaire Stripe accepte toutes les cartes de paiement ainsi que les virements SEPA.</p>
        </div>
  
        <div class="col-md-6 mb-4">
          <h5 class="font-weight-normal mb-3">Est-il possible de modifier mon moyen de paiement ?</h5>
          <p class="text-muted">Oui, dans votre espace client, en cliquant sur "mettre à jour mon moyen de paiement".</p>
        </div>
  
        <div class="col-md-6 mb-4">
          <h5 class="font-weight-normal mb-3">Est-ce que le paiement sur votre site est sécurisé ?</h5>
          <p class="text-muted">Absolument ! Notre partenaire Stripe est reconnu mondialement pour la sécurité de ses transactions.</p>
        </div>
  
        <div class="col-md-6 mb-4">
          <h5 class="font-weight-normal mb-3">Puis-je annuler mon abonnement ?</h5>
          <p class="text-muted">Bien sûr ! Vous pouvez annuler votre abonnement à n'importe quel moment. En revanche, le mois en cours est dû. Une fois votre abonnement annulé, vous conservez un accès à votre espace client pendant 3 mois, afin de vous réabonner si vous changez d'avis.</p>
        </div>
  
        <div class="col-md-6 mb-4">
          <h5 class="font-weight-normal mb-3">Comment sont sécurisées mes données ?</h5>
          <p class="text-muted">Les données audio ou texte échangées entre le client et ScriptX ne sont pas conservées par le prestataire.</p>
        </div>
  
        <div class="col-md-6 mb-4">
          <h5 class="font-weight-normal mb-3">Puis-je demander un remboursement ?</h5>
          <p class="text-muted">Non, tout mois commencé est dû.</p>
        </div>
      </div>
  
      </section>
    
    
  </div>