<div class="container my-5" id="navbar-produit">


    <!-- Section: Block Content -->
    <section class="dark-grey-text">
  
      <h3 class="text-center font-weight-bold mb-4 pb-2">Produits</h3>
      <p class="text-center text-muted w-responsive mx-auto mb-5">Texte à mettre (ou pas)</p>
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-lg-7"> <!--  si on met col-lg-8, problème avec l'image ! -->
  
          <ul class="list-unstyled fa-ul mb-lg-0 mb-5">
            <li class="d-flex justify-content-center pl-4">
              <span class="fa-li"><i class="far fa-arrow-alt-circle-up fa-2x blue-text"></i></span>
              <div>
                <h5 class="font-weight-bold mb-3">Transcription audio en texte</h5>
                <p class="text-muted">ScriptX est un logiciel avancé de reconnaissance vocale qui crée en quelques instants un fichier texte à partir d’un enregistrement au format .wav, .mp3, .mp4 ou .m4a. </p>
              </div>
            </li>
            <li class="d-flex justify-content-center pl-4">
              <span class="fa-li"><i class="fas fa-cogs fa-2x blue-text"></i></span>
              <div>
                <h5 class="font-weight-bold mb-3">Traduction</h5>
                <p class="text-muted">ScriptX est capable de traduire un fichier audio depuis 10 langues vers un fichier texte en français.</p>
              </div>
            </li>
            <li class="d-flex justify-content-center pl-4">
              <span class="fa-li"><i class="fas fa-folder-open fa-2x blue-text"></i></span>
              <div>
                <h5 class="font-weight-bold mb-3">Gestion de fichiers</h5>
                <p class="text-muted mb-0">Vous avez accès, d’un simple clic, à votre propre bibliothèque de fichiers enregistrée localement (sur votre disque dur ou dans la mémoire de votre téléphone), que vous pourrez gérer selon vos souhaits.</p>
              </div>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-lg-5">
  
            <img src="img/bureau.micro.jpg" class="img-fluid rounded z-depth-1" alt="Sample project image"> <!-- Photo by CoWomen on Unsplash -->
  
          </div>
          <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
      <hr class="my-5"> 
  
    </section>
    <!-- Section: Block Content -->
  
  
  </div>